# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=nestor
DB_PASSWORD=canarias
DB_NAME=datos_canarias
DB_PORT=5432

# Configuraciones de Ejecución
DEBUG_MODE=True
# Si DEBUG_MODE=True, limitaremos los registros procesados para pruebas (Limitado a 100 recursos por dataset para no demorar)
MAX_RECORDS_DOWNLOAD=1
